<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Create Board" verbose="2">

    <test name="Create Board Test">
        <classes>
            <class name="CreateBoard" />
            <class name="GetBoard" />
        </classes>
    </test>
</suite>
